<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/CSS.CSS">
    <link rel="stylesheet" href="../CSS/css Modo de juego.css">
    <title>Modos de juego</title>
</head>
<header class="logo">
    <!---Logo--->
</header>
<body class="imagen">
     <!--navbar-->
     <nav class="navbar">
        <a href="../../Index.html">Inico</a>
        <a href="Personajes.html">Personajes</a>
        <a href="Modos de juego.html">Modos De juegos</a>
        <a href="Registro.html">Registro</a>
        
    </nav>  
    <main>
       
        <!--cuerpo-->   
        <div class="Index">
            <p class="gris">En el League of legends existen distintos modos de juego divertidos y entretenidos para poder pasarla bien con amigos</p>
            <h1>Los cuales son:</h1>
            <h2>Abismo de los Lamentos</h2>
            <p class="gris">Abismo de los Lamentos es el campo de batalla y ARAM es el acrónimo del modo de juego, que en español significa "todo aleatorio y en la calle central" ("All Random, All Mid"). Pensad en ello como en un combate sin restricciones en una sola calle entre dos equipos de 5 jugadores. Preparaos mientras se asigna un campeón aleatorio para este vertiginoso modo de juego repleto de refriegas.</p>
            <img src="../Img/aram.png" alt="" class="imgp">
            <h2>Teamfight Tactics</h2>
            <p class="gris">Teamfight Tactics, desarrollado y editado por Riot Games para PC y dispositivos iOS y Android, es un modo de juego de League of Legends basado en el estilo auto chess. TFT es un juego de estrategia por turnos en el que te enfrentarás a siete oponentes en una competición por crear un poderoso equipo que peleará por ti</p>
            <img src="../Img/tft.jpeg" alt="" class="imgp">
            <h2>Modo arena</h2>
            <p class="gris">El Modo Arena es un modo de juego único presentado como parte del Evento de Verano 2023 de Riot. En el modo Arena, en lugar de los partidos habituales de 5 contra 5, hay cuatro equipos. Cada equipo tiene dos jugadores. Luchan en rondas y el juego continúa hasta que solo queda un equipo</p>
            <img src="../Img/Modo arena.jpeg" alt="" class="imgp">
            <h2>Frenesi del nexo</h2>
            <p class="gris">Frenesí del Nexo o Nexus Blitz es el modo de juego temporal de League of Legends que nos lleva por una emocionante partida donde cualquier cosa puede pasar. En la partida puede tocarte matar a un Teemo gigante, enfrentarte en duelos solitarios y hasta mini sesiones de URF en equipo</p>
            <img src="../Img/Fdn.jpg" alt="" class="imgp">
            
        </div>

    </main>
    
</body>
<aside class="as"> 
    <h3>Esta informacion y mas la podes encontrar en <a href="https://www.riotgames.com/es">RIOT GAMES</a> </h3>

</aside>
    <footer class="foot">Pagina Hecha por Maximo O Seva</footer>
</html>