<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link rel="stylesheet" href="../CSS/CSS.CSS">
    <link rel="stylesheet" href="../CSS/css personajes.css">
</head>
<body class="imagen">
    <header class="logo">
        <!--Logo-->
    </header>
    <!----NAVBAR-->
        <nav class="navbar">
            <a href="../../Index.html">Inico</a>
            <a href="../Views/Personajes.html">Personajes</a>
            <a href="Modos de juego.html">Modos De juegos</a>
            <a href="Registro.html">Registro</a>
        </nav>     
        <!--CUERPO-->
        <main>
    <div class="container">
        <h2>En este juego existen varias lineas, dichas lienas son:</h2>
            <img src="../Img/mapa.jfif" alt="" class="imgp">
        <h3 class="gris">linea de arriba, tambien llamada topline en donde estan los Topalaner, algunos ejemplos son</h3>
            <ol class="gris">
               <li><B>Darius</B></li>
               <li>Malphite</li>
               <li>Garem</li>
               <li>Mordekaiser</li>
               <li>Teemo</li>
            </ol>
        <h3 class="gris"><b>Darius</b></h3>
            <img src="../Img/Darius.jpg" alt="" class="imgp">
        <h3 class="gris">linea de Jungla, algunos ejemplos son</h3>
            <ol class="gris">
                <li><b>Maestro Yi</b></li>
                <li>Warwick</li>
                <li>Rammus</li>
                <li>Lee Sin</li>
                <li>Shyvana</li>
            </ol>
        <h3 class="gris"><b>Maestro Yi</b></h3>
                <img src="../Img/MasterYi.jpg" alt="" class="imgp">
        <h3 class="gris">linea del Medio, tambien llamada midlineen donde se encuentran los midlaner, algunos ejemplos son</h3>
           <ol class="gris">
               <li><b>Yasuo</b></li>
               <li>Ahri</li>
               <li>Irelia</li>
               <li>Galio</li>
               <li>Veigar</li>
           </ol>
        <h3 class="gris"><b>Yasuo</b></h3>
            <img src="../Img/yasuo.jfif" alt="" class="imgp">
           <h3 class="gris">En la linea de abajo, tambien llamada botlane en donde estan los ADC o Tirador, algunos ejemplos son</h3>
           <ol class="gris">
               <li><b>Miss Fortune</b></li>
               <li>Lucian</li>
               <li>Jinks</li>
               <li>Ashe</li>
               <li>Twich</li>
           </ol>
        <H3 class="gris"><b>Miss Fortune</b></H3>
            <img src="../Img/miss fortune.jfif" alt="" class="imgp">
        <h3 class="gris">tambien en la linea de abajo se encuentran los soportes que ayudan al equipo, algunos ejemplos son</h3>
           <ol class="gris">
               <li><b>Lux</b></li>
               <li>Morgana</li>
               <li>Thresh</li>
               <li>Blitzcrack</li>
               <li>Sona</li>
           </ol>
        <h3 class="gris"><B>Lux</B></h3> 
           <img src="../Img/Lux.jpg" alt="" class="imgp">
    </div>
        </main>
        <aside class="as"> 
            <h3>Esta informacion y mas la podes encontrar en <a href="https://www.riotgames.com/es">RIOT GAMES</a> </h3>
        </aside>
    <footer class="foot">Pagina Hecha por Maximo O Seva</footer>
</body>
</html>