<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/CSS.CSS">
    <link rel="stylesheet" href="../CSS/register.css">
    <title>Registro</title>
</head>
<header class="logo">
    <!--Logo-->
</header>
<body class="imagen">

        <!--navbar-->
        <nav class="navbar">
            <a href="../../Index.html">Inico</a>
            <a href="Personajes.html">Personajes</a>
            <a href="Modos de juego.html">Modos De juegos</a>
            <a href="Registro.html">Registro</a>
            
        </nav>  
     <!---cuerpo--->
        <main>
        <div class="Index">
            <h1>!!!Unete a nuestro equipo!!!!</h1>
            <p class="gris">Dejandonos tu informacion podras ser leyenda</p>
            <form action="">
                <label for="nombre" class="gris">Nombre</label>
                <input type="text" id="nombre">
                <label for="apellido" class="gris">Apellido</label>
                <input type="text" id="apellido">
                <label for="email" class="gris">Email</label>
                <input type="text" id="email">
               <input type="submit" value="enviar">
            </form>
            <img src="../Img/gracias.jfif" alt="" class="imgp">
        </div>
    </main>
    
</body>
<footer class="foot">Pagina Hecha por Maximo O Seva</footer>
</html>